.header {
  height: 75px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: gray;

  .content {
    height: 100%;
    display: flex;

    .username {
      width: 100px;
      margin: auto 0;
    }

    .logout {
      margin: auto 0 auto auto;
    }
  }
}
