.header {
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: gray;

  .content {
    height: 100%;
    display: flex;

    .username {
      display: inline-block;
      width: 100px;
      margin: auto 0;
    }
  }
}
